name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
    # Change to "main" when pushing into the main branch
      - "bugs/deploy-storybook"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "25"
      - name: Enable Yarn Corepack
        run: corepack enable
      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          env: RESEND_API_KEY=${{ secrets.RESEND_API_KEY }}
            EMAIL_SEND_NAME=${{ secrets.EMAIL_SEND_NAME }}
            EMAIL_ADMIN_ADDRESS=${{ secrets.EMAIL_ADMIN_ADDRESS }}
            SANITY_PROJECT_ID=${{ secrets.SANITY_PROJECT_ID }}
            SANITY_DATASET=${{ secrets.SANITY_DATASET }}
          install_command: yarn install
          build_command: yarn build-storybook
          path: storybook-static
          checkout: false
